[submodule "BrillouinAcquisition/external/gsl"]
	path = BrillouinAcquisition/external/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "BrillouinAcquisition/external/eigen"]
	path = BrillouinAcquisition/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
